*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
}

.container h2{
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  font-size: 32px;
  color: #fff;
  margin-bottom: 24px;
}

.color{
  color: #46a6e9;
}

.btn{
  background-color: transparent;
  padding: 8px;
  color: #222;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #222;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover{
  color: #fff;
  transition: all 0.5s ease-out;
  background-color: #222;
}